<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <!-- Left Section: Brand & Description -->
            <div class="footer-brand">
                <a href="#" class="footer-logo">EKKO NOW</a>
                <p>Empowering innovation through media, education, and sustainability.</p>
            </div>

            <!-- Middle Section: Navigation Links -->
            <div class="footer-links">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>

            <!-- Right Section: Socials & Newsletter -->
            <div class="footer-socials">
                <h4>Follow Us</h4>
                <div class="social-icons">
                    <a href="https://web.facebook.com/profile.php?id=61571902079351"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://x.com/ekko_now"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="https://www.linkedin.com/company/ekko-now"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/ekkonow/"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.tiktok.com/@ekko.now"><i class="fa-brands fa-tiktok"></i></a>
                    <a href="https://youtube.com/@ekkonow?si=y6_hRuPGTagMSv9X"><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
        </div>

        <!-- Bottom Section: Copyright -->
        <div class="footer-bottom">
            <p>&copy; 2025 EKKO NOW. All rights reserved.</p>
        </div>
    </div>
</footer>
