<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dahel Techies</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico"> 
    <!-- FontAwesome for Icons -->
    <link rel="stylesheet" href="/fontawesome/css/all.css">
    
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- AOS Animation Library -->
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
</head>
<body onload="AOS.init()">

    <%- include("./components/who_we_are.ejs") %>
    <%- include("./components/our_pillar_section.ejs") %>
    <%- include("./partials/footer.ejs") %>

    <!-- AOS Animation Script -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 1000, 
            once: true, 
        });
    </script>
</body>
</html>
